<html><head>
<title><TMPL_VAR NAME=TITLE></title>
  <meta name="description" content="An open-access system for the collection and dissemination of regulatory sequence annotation">
  <meta name="keywords" content="database, regulatory sequences, annotation, pazar">
<script language="javascript">
<!--
function VersionNavigateur(Netscape, Explorer)
{
if ((navigator.appVersion.substring(0,3) >= Netscape && navigator.appName == 'Netscape') ||
(navigator.appVersion.substring(0,3) >= Explorer && navigator.appName.substring(0,9) == 'Microsoft'))
return true;
else return false;
}
<TMPL_VAR NAME=JAVASCRIPT_FUNCTION>
//-->
</script>
<link type="text/css" rel="stylesheet" href="http://www.pazar.info/pazar.css"></head>
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" marginheight="0" marginwidth="0">
  <table align="left" border="0" cellpadding="0" cellspacing="0" height="100%" width="85%">
    <tbody><tr>
      <td valign="top" height="102">
      <table border="0" cellpadding="0" cellspacing="0" width="660" height="102">
        <tbody><tr>
          <td width="143"><img src="http://www.pazar.info/images/pazar_01.gif" border="0" height="102" width="143"></td>
          <td width="517"><a href="http://www.pazar.info/cgi-bin/index.pl"><img src="http://www.pazar.info/images/pazar_02.gif" border="0" height="102" width="517"></a></td>
        </tr>
      </tbody></table></td></tr>
<tr><td valign="top" class="backgd"><table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody><tr>
          <td align="center" valign="top" width="143"><table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
              <td width="100%">
              <a href="http://www.pazar.info/cgi-bin/login.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img1.src='http://www.pazar.info/images/up_03.gif'" onmouseout="img1.src='http://www.pazar.info/images/pazar_03.gif'"><img name="img1" src="http://www.pazar.info/images/pazar_03.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/up_03.gif'" border="0" height="51" width="143"></a></td>
            </tr>
            <tr>
              <td width="100%">
              <a href="http://www.pazar.info/cgi-bin/register.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img2.src='http://www.pazar.info/images/up_05.gif'" onmouseout="img2.src='http://www.pazar.info/images/pazar_05.gif'"><img name="img2" src="http://www.pazar.info/images/pazar_05.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/up_05.gif'" border="0" height="51" width="143"></a></td>
            </tr>
            <tr>
              <td width="100%">
              <a href="http://www.pazar.info/cgi-bin/editprojects.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img3.src='http://www.pazar.info/images/up_06.gif'" onmouseout="img3.src='http://www.pazar.info/images/pazar_06.gif'"><img name="img3" src="http://www.pazar.info/images/pazar_06.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/up_06.gif'" border="0" height="51" width="143"></a></td>
            </tr>
            <tr>
              <td width="100%">
              <a href="" onmouseover="if (VersionNavigateur(3.0,4.0)) img4.src='http://www.pazar.info/images/up_07.gif'" onmouseout="img4.src='http://www.pazar.info/images/pazar_07.gif'"><img name="img4" src="http://www.pazar.info/images/pazar_07.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/up_07.gif'" border="0" height="51" width="143"></a></td>
            </tr>
            <tr>
              <td width="100%">
              <a href="http://www.pazar.info/cgi-bin/index.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img5.src='http://www.pazar.info/images/up_08.gif'" onmouseout="img5.src='http://www.pazar.info/images/pazar_08.gif'"><img name="img5" src="http://www.pazar.info/images/pazar_08.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/up_08.gif'" border="0" height="51" width="143"></a></td>
            </tr>
            <tr>
              <td width="100%">
              <img src="http://www.pazar.info/images/pazar_09.gif" border="0" height="51" width="143"></td>
            </tr>
            <tr>
              <td width="100%">
              <a href="http://www.pazar.info/cgi-bin/overview.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img6.src='http://www.pazar.info/images/overview_f.gif'" onmouseout="img6.src='http://www.pazar.info/images/overview_h.gif'"><img name="img6" src="http://www.pazar.info/images/overview_h.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/overview_f.gif'" border="0" height="51" width="143"></a></td>
            </tr>
            <tr>
              <td width="100%">
              <a href="http://www.pazar.info/cgi-bin/xml.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img7.src='http://www.pazar.info/images/xml_f.gif'" onmouseout="img7.src='http://www.pazar.info/images/xml_h.gif'"><img name="img7" src="http://www.pazar.info/images/xml_h.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/xml_f.gif'" border="0" height="51" width="143"></a></td>
            </tr>
            <tr>
              <td width="100%">
              <a href="http://www.pazar.info/cgi-bin/GFF.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img8.src='http://www.pazar.info/images/gff_f.gif'" onmouseout="img8.src='http://www.pazar.info/images/gff_h.gif'"><img name="img8" src="http://www.pazar.info/images/gff_h.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/gff_f.gif'" border="0" height="51" width="143"></a></td>
            </tr>
            <tr>
              <td width="100%">
              <a href="http://www.pazar.info/cgi-bin/contacts.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img9.src='http://www.pazar.info/images/contacts_f.gif'" onmouseout="img9.src='http://www.pazar.info/images/contacts_h.gif'"><img name="img9" src="http://www.pazar.info/images/contacts_h.gif" onload="tempImg=new Image(0,0); tempImg.src='http://www.pazar.info/images/contacts_f.gif'" border="0" height="51" width="143"></a></td>
            </tr>
          </tbody></table>
          </td>
          <td align="left" valign="top" class="margin">
      <table border="0" cellpadding="0" cellspacing="0" width="500" height="5">
        <tbody><tr>
          <td><div align="right" valign="top" class="small" height="5" width="500">
<TMPL_VAR NAME=LOGOUT></div></td>
        </tr>
      </tbody></table>
          <br>
