<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
	<title><TMPL_VAR NAME=TITLE></title>
	<meta name="description" content="An open-access system for the collection and dissemination of regulatory sequence annotation">
	<meta name="keywords" content="database, regulatory sequences, annotation, pazar">
	<script src="<TMPL_VAR NAME=PAZAR_HTML>/js/x.js"></script>
	<script src="<TMPL_VAR NAME=PAZAR_HTML>/js/functions.js"></script>
	<script src="<TMPL_VAR NAME=PAZAR_HTML>/js/sortable.js"></script>
	<script type="text/javascript"><TMPL_VAR NAME=JAVASCRIPT_FUNCTION></script>
	<link type="text/css" rel="stylesheet" href="<TMPL_VAR NAME=PAZAR_HTML>/pazar.css"><link rel="shortcut icon" href="<TMPL_VAR NAME=PAZAR_HTML>/favicon.ico">
</head>
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" marginheight="0" marginwidth="0" onLoad="<TMPL_VAR NAME=ONLOAD_FUNCTION>">
<table class="mt" border="0" cellpadding="0" cellspacing="0"> 
	<tbody><tr>
		<td class="mttdl"><img src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_01.gif" border="0"></td>
		<td class="mttdr"><a href="<TMPL_VAR NAME=PAZAR_CGI>/index.pl"><img src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_02.gif" border="0" height="102" width="517"></a></td>
	</tr><tr>
		<td class="mttdl">
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/index.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img1.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_03.gif'" onmouseout="img1.src='<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_03.gif'"><img name="img1" src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_03.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_03.gif'" border="0" height="51" width="143"></a></div>
			<div><img src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_09.gif" border="0" height="51" width="143"></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/login.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img3.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_06.gif'" onmouseout="img3.src='<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_06.gif'"><img name="img3" src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_06.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_06.gif'" border="0" height="51" width="143"></a></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/editprojects.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img4.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_07.gif'" onmouseout="img4.src='<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_07.gif'"><img name="img4" src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_07.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_07.gif'" border="0" height="51" width="143"></a></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/sWI/entry.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img5.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_08.gif'" onmouseout="img5.src='<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_08.gif'"><img name="img5" src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_08.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_08.gif'" border="0" height="51" width="143"></a></div>
			<div><img src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_09.gif" border="0" height="51" width="143"></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/overview.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img6.src='<TMPL_VAR NAME=PAZAR_HTML>/images/overview_f.gif'" onmouseout="img6.src='<TMPL_VAR NAME=PAZAR_HTML>/images/overview_h.gif'"><img name="img6" src="<TMPL_VAR NAME=PAZAR_HTML>/images/overview_h.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/overview_f.gif'" border="0" height="51" width="143"></a></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/dataformats.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img7.src='<TMPL_VAR NAME=PAZAR_HTML>/images/formats_f.gif'" onmouseout="img7.src='<TMPL_VAR NAME=PAZAR_HTML>/images/formats_h.gif'"><img name="img7" src="<TMPL_VAR NAME=PAZAR_HTML>/images/formats_h.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/formats_f.gif'" border="0" height="51" width="143"></a></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/links.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img8.src='<TMPL_VAR NAME=PAZAR_HTML>/images/links_f.gif'" onmouseout="img8.src='<TMPL_VAR NAME=PAZAR_HTML>/images/links_h.gif'"><img name="img8" src="<TMPL_VAR NAME=PAZAR_HTML>/images/links_h.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/links_f.gif'" border="0" height="51" width="143"></a></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/contacts.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img9.src='<TMPL_VAR NAME=PAZAR_HTML>/images/contacts_f.gif'" onmouseout="img9.src='<TMPL_VAR NAME=PAZAR_HTML>/images/contacts_h.gif'"><img name="img9" src="<TMPL_VAR NAME=PAZAR_HTML>/images/contacts_h.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/contacts_f.gif'" border="0" height="51" width="143"></a></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/help_FAQ.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img10.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_14.gif'" onmouseout="img10.src='<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_14.gif'"><img name="img10" src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_14.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_14.gif'" border="0" height="51" width="143"></a></div>
			<div><a href="<TMPL_VAR NAME=PAZAR_CGI>/downloads.pl" onmouseover="if (VersionNavigateur(3.0,4.0)) img11.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_15.gif'" onmouseout="img11.src='<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_15.gif'"><img name="img11" src="<TMPL_VAR NAME=PAZAR_HTML>/images/pazar_15.gif" onload="tempImg=new Image(0,0); tempImg.src='<TMPL_VAR NAME=PAZAR_HTML>/images/up_15.gif'" border="0" height="51" width="143"></a></div>
		</td><td class="mttdr">
			<div class="login"><TMPL_VAR NAME=LOGOUT></div>
			<div class="pazak">
				<noscript><div class="emp"><span class="b">Some features on this website can only be accessed when JavaScript is enabled. JavaScript is currently disabled in your browser.</span> Please <a href="http://www.google.com/support/websearch/bin/answer.py?hl=en&answer=23852">see this article from Google Web Search Help</a> to learn how you can enable JavaScript on your web browser.</div></noscript>