</div><div class="footer">Copyright &copy; 2009 PAZAR Group</div></td></tr></tbody></table><div id="popup" class="hide"><div id="popin" class="rt"><div class="ppclo"><input type="button" value="close" onclick="popcl();"></div><div id="popte"></div></div></div></body></html>
