td {
font-family: Arial,Helvetica,Sans-Serif;
line-height: 1.7;
color: #000000;
font-size: 12px;
}

a { cursor: hand; color: #0066CC; text-decoration: underline}
a:hover { cursor: hand; background: #333333; color: #FFFFFF}

body {
background-image: url('http://www.pazar.info/images/pazar_bg.gif');
background-repeat: repeat-y;

}

.backgd {
background-image: url('http://www.pazar.info/images/pazar_bg.gif');
background-repeat: repeat-y;
} 

.title1 {
font-weight: bold;
font-size: 18px;
}

.title2 {
font-weight: bold;
font-size: 14px;
}

.warning {
font-weight: bold;
font-size: 14px;
color: rgb(255, 0, 0);
}

.title3 {
font-weight: bold;
font-size: 14px;
text-decoration: underline;
}

.title4 {
font-weight: bold;
font-size: 14px;
font-style: italic;
}

.margin {
padding-left:15px;
padding-right:15px;
}

.small {
font-size: 10px;
}

.bold {
font-weight: bold;
}

.red {
color: rgb(255, 0, 0);
}

.smallredbold {
font-size: 10px;
color: rgb(255, 0, 0);
font-weight: bold;
}

.margin2 {
padding-left:25px;
}

.monospace {
font-family: monospace;
}

.justify {
text-align:justify;
}

.submitLink {
width: 71px;
text-align: left;
color: #0066CC;
background-color: transparent;
text-decoration: underline;
border: none;
cursor: pointer;
cursor: hand;
  }


.seqtabletitle {
padding-left: 5px;
padding-right: 5px;
width: 200px;
text-align: left;
vertical-align: top;
background-color: #ff9a40;
border: 1px solid black;
}

.basictd {
padding-left: 5px;
padding-right: 5px;
text-align: left;
vertical-align: top;
border: 1px solid black;
}

.basictdnoborder {
text-align: left;
vertical-align: top;
}
.basictdcenter {
padding-left: 5px;
padding-right: 5px;
text-align: center;
vertical-align: center;
border: 1px solid black;
}

.genetabletitle {
padding-left: 5px;
padding-right: 5px;
width: 200px;
text-align: left;
vertical-align: top;
background-color: #39aecb;
border: 1px solid black;
}

.genedetailstabletitle {
padding-left: 5px;
padding-right: 5px;
text-align: center;
vertical-align: top;
background-color: #39aecb;
border: 1px solid black;
}

.evidencetabletitle {
padding-left: 5px;
padding-right: 5px;
text-align: center;
vertical-align: top;
background-color: #ff9a40;
border: 1px solid black;
}

.evidencetitle {
padding-left: 5px;
padding-right: 5px;
text-align: center;
vertical-align: top;
background-color: #ff9a40;
}

.searchtable {
border: 2px solid black;
width: 950px;
border-collapse: collapse;
}

.summarytable {
border: 2px solid black;
border-collapse: collapse;
}

.evidencetable {
width: 1050px;
border-collapse: collapse;
}

.evidencetableborder {
border: 2px solid black;
width: 1050px;
border-collapse: collapse;
}

.evidencedetailstableborder {
border: 2px solid black;
width: 1200px;
border-collapse: collapse;
}

.analysistabletitle {
padding-left: 5px;
padding-right: 5px;
width: 200px;
text-align: left;
vertical-align: top;
background-color: #00B548;
border: 1px solid black;
}

.analysisdetailstabletitle {
padding-left: 5px;
padding-right: 5px;
text-align: center;
vertical-align: top;
background-color: #00B548;
border: 1px solid black;
}

.overflow {
height: 100px;
overflow:auto;
}

.tftabletitle {
padding-left: 5px;
padding-right: 5px;
width: 200px;
text-align: left;
vertical-align: top;
background-color: #e65656;
border: 1px solid black;
}

.tfdetailstabletitle {
padding-left: 5px;
padding-right: 5px;
text-align: center;
vertical-align: top;
background-color: #e65656;
border: 1px solid black;
}
