font { font-family: Arial,Helvetica,Sans Serif; line-height: 1.7; color: #000000; }
a { cursor: hand; color: #ba0000; text-decoration: underline}
a:hover { cursor: hand; background: #333333; color: #FFFFFF}


.titre1 {
font-weight: bold;
font-size: 18px;
padding-left:15px;
padding-right:15px;
}

.titre2 {
font-weight: bold;
font-size: 14px;
padding-left:15px;
padding-right:15px;
}

.titre3 {
font-weight: bold;
font-size: 14px;
padding-left:15px;
padding-right:15px;
text-decoration: underline;
}

.titre4 {
font-weight: bold;
font-size: 14px;
padding-left:15px;
padding-right:15px;
font-style: italic;
}

.marge {
font-size: 12px;
padding-left:15px;
padding-right:15px;
text-align:justify;
}

.marge2 {
font-size: 12px;
padding-left:40px;
padding-right:15px;
text-align:justify;
}
