td {
font-family: Arial,Helvetica,Sans-Serif;
line-height: 1.7;
color: #000000;
font-size: 12px;
}

a { cursor: hand; color: #0066CC; text-decoration: underline}
a:hover { cursor: hand; background: #333333; color: #FFFFFF}

body {
background-image: url('http://www.pazar.info/images/pazar_bg.gif');
background-repeat: repeat-y;

}

.backgd {
background-image: url('http://www.pazar.info/images/pazar_bg.gif');
background-repeat: repeat-y;
} 

.title1 {
font-weight: bold;
font-size: 18px;
}

.title2 {
font-weight: bold;
font-size: 14px;
}

.warning {
font-weight: bold;
font-size: 14px;
color: rgb(255, 0, 0);
}

.title3 {
font-weight: bold;
font-size: 14px;
text-decoration: underline;
}

.title4 {
font-weight: bold;
font-size: 14px;
font-style: italic;
}

.margin {
padding-left:15px;
padding-right:15px;
}

.small {
font-size: 10px;
}

.bold {
font-weight: bold;
}

.red {
color: rgb(255, 0, 0);
}

.margin2 {
padding-left:25px;
}

.monospace {
font-family: monospace;
}

.justify {
text-align:justify;
}

.submitLink {
   color: #0066CC;
   background-color: transparent;
   text-decoration: underline;
   border: none;
   cursor: pointer;
   cursor: hand;
  }
